body {
  background: #ecf0f1;
  font-family: sans-serif;
}

h2 {
  color: #27ae60;
}

.nav-bar {
  width: 800px;
  margin: 0px auto 0px auto;
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  width: 200px;
}

li a {
  display: block;
  color: #27ae60;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
}

li a:hover {
  border-bottom: 5px solid #27ae60;
}

.main {
  width: 1200px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  margin: 15px auto 15px auto;
}

.box-food {
  width: 25%;
  height: 250px;
  margin: 10px 5px 10px 5px;
  border-radius: 10px;
  text-align: center;
  z-index: 5px;
}

.box-food img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-food img:hover {
  background-color: #000;
  opacity: 0.4;
  color: #fff;
}

.box-food-button {
  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  color: green;
  font-weight: 700;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-transform: uppercase;
  font-size: 0.9em;
  z-index: 5px;
}

.box-food-button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #27ae60;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */

.modal-content {
  width: 30%;
  height: auto;
  background-color: #fefefe;
  padding: 10px;
  margin: auto;
  border: 1px solid #888;
  text-align: center;
  border-radius: 10px;
}

.food-detail {
  display: block;
  margin: 0px auto 0px auto;
}

.food-detail img {
  width: 200px;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.promo {
  width: 1100px;
  height: 500px;
  margin: 30px auto 50px auto;
  display: flex;
  justify-content: flex-start;
}

.promo-one {
  width: 450px;
  height: 500px;
}

.promo-one img {
  width: 450px;
  height: 500px;
}

.promo-two {
  width: 600px;
  height: 500px;
  padding-left: 15px;
}

.promo-two-ab {
  width: 580px;
  height: 240px;
  margin-bottom: 20px;
  background-color: #8e44ad;
}

.promo-two-ab img {
  width: 580px;
  height: 240px;
}

.promo-two-ac {
  width: 580px;
  height: 240px;
  background-color: #8e44ad;
}

.promo-two-ac img {
  width: 580px;
  height: 240px;
}

.footer {
  color: #27ae60;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #27ae60;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover, .accordion a:hover::after {
  cursor: pointer;
  color: #03b5d2;
}

.accordion a:hover::after {}

.accordion a.active {
  color: #03b5d2;
  border-bottom: 1px solid #03b5d2;
}

.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #03b5d2;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

.green {
  color: #27ae60;
}

.form-style-6 {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 100%;
  padding: 16px;
  background: #F7F7F7;
}

.form-style-6 h1 {
  background: #27ae60;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
  font-weight: 700;
}

.form-style-6 h2 {
  text-align: center;
}

.form-style-6 input[type="text"], .form-style-6 input[type="date"], .form-style-6 input[type="datetime"], .form-style-6 input[type="email"], .form-style-6 input[type="number"], .form-style-6 input[type="search"], .form-style-6 input[type="time"], .form-style-6 input[type="url"], .form-style-6 textarea, .form-style-6 select {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 2%;
  color: #555;
  font: 95% sans-serif;
  resize: none;
}

.form-style-6 input[type="text"]:focus, .form-style-6 input[type="date"]:focus, .form-style-6 input[type="datetime"]:focus, .form-style-6 input[type="email"]:focus, .form-style-6 input[type="number"]:focus, .form-style-6 input[type="search"]:focus, .form-style-6 input[type="time"]:focus, .form-style-6 input[type="url"]:focus, .form-style-6 textarea:focus, .form-style-6 select:focus {
  border: 1px solid #27ae60;
}

.form-style-6 input[type="submit"], .form-style-6 input[type="button"] {
  box-sizing: border-box;
  width: 100%;
  padding: 1%;
  background: #27ae60;
  border-bottom: 2px solid #30C29E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
}

.form-style-6 input[type="submit"]:hover, .form-style-6 input[type="button"]:hover {
  background: #27ae60;
  cursor: pointer;
}